@use '../../styles/partials/variables' as *;

@mixin tablet {
    @media (min-width: 48rem) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: 80rem) {
        @content;
    }
}

@mixin font-face($weight) {
    font-family: $font-primary;
    font-weight: $weight;
}

@mixin h1-desktop {
    @include font-face($bold-weight);
    font-size: 2.3125rem;
    line-height: 3rem;
    color: $white;
}

@mixin h1-mobile {
    @include font-face($semi-bold-weight);
    font-size: 1.75rem;
    line-height: 2.25rem;
}

@mixin h2-desktop {
    @include font-face($semi-bold-weight);
    font-size: 1.875rem;
    line-height: 3.625rem;
}

@mixin h2-mobile {
    @include font-face($semi-bold-weight);
    font-size: 1.25rem;
    line-height: 1.75rem;
}

@mixin h3-labels-links-button-desktop {
    @include font-face($semi-bold-weight);
    font-size: 0.875rem;
    line-height: 1.375rem;
}

@mixin h3-labels-links-button-mobile {
    @include font-face($semi-bold-weight);
    font-size: 0.8125rem;
    line-height: 1.25rem;
}

@mixin body-large-desktop {
    @include font-face($regular-weight);
    font-size: 0.9375rem;
    line-height: 1.75rem;
}

@mixin body-large-mobile {
    @include font-face($regular-weight);
    font-size: 0.9375rem;
    line-height: 1.625rem;
}

@mixin body-medium-desktop {
    @include font-face($regular-weight);
    font-size: 0.875rem;
    line-height: 1.375rem;
}

@mixin button-primary {
    background-color: $light-orange;
    height: 2.25rem;
    padding: 0 1rem;
    border-radius: 0.3125rem;
    color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.0625rem solid $light-orange;
    @include h3-labels-links-button-mobile;

    &:hover {
        background-color: $white;
        border-color: $hover-border;
        cursor: pointer;
        color: $reddit-orange;
    }

    @include tablet {
        height: 2.375rem;
    }
}

@mixin button-secondary {
    background-color: $reddit-orange;
    height: 3.25rem;
    padding: 0 1rem;
    border-radius: 0.3125rem;
    color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.0625rem solid $light-orange;
    @include h3-labels-links-button-desktop;
    font-size: 1.125rem;

    &:hover {
        background-color: $white;
        border-color: $hover-border;
        cursor: pointer;
        color: $reddit-orange;
    }

    @include tablet {
        height: 2.375rem;
    }
}

@mixin success {
    background-color: $success-background;
    color: $success-color;
    border: 0.0625rem solid $success-border;
}

@mixin error {
    background-color: $error-background;
    color: $error-color;
    border: 0.0625rem solid $error-border
}

@mixin warning {
    background-color: $warning-background;
    color: $warning-color;
    border: 0.0625rem solid $warning-border;
}