$font-primary: 'Nunito Sans', sans-serif;
$regular-weight: 400;
$semi-bold-weight: 600;
$bold-weight: 900;

$breakpoint-tablet: 768px;
$breakpoint-desktop: 1280px;

$white: #FFFFFF;  
$grey: #D5D5D5;
$black: #333;
$cloud: #F5F6FA;
$reddit-orange: #ff4500;
$light-orange: #FFC107;
$card1-orange:  #FF9500;
$card2-orange: #FFB301;
$card3-orange: #EE3C0A;
$error-red: red;
$card-background:#f4f4f9;
$hover-border: #FFA000;
$active-color: #FF5722; 
$post-border: #ddd;
$empty-content: #666;

$success-background:#dff0d8;
$success-color:#3c763d;
$success-border:#3c763d;


$error-background:#f2dede;
$error-color:#a94442;
$error-border: #ebccd1;


$warning-background:#fff3cd;
$warning-color:#856404;
$warning-border: #ffeeba;

$legend-green:#4CAF50;
$legend-yellow:#FFC107;
$legend-red: #F44336;