$font-primary: 'Nunito Sans', sans-serif;
$regular-weight: 400;
$semi-bold-weight: 600;
$bold-weight: 900;

$breakpoint-tablet: 768px;
$breakpoint-desktop: 1280px;

$white: #FFFFFF;  
$grey: #D5D5D5;
$black: #333;
$cloud: #F5F6FA;
$reddit-orange: #ff4500;
$light-orange: #FFC107;
$card1-orange:  #FF9500;
$card2-orange: #FFB301;
$card3-orange: #EE3C0A;