@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.text-analyzer {
    width: 100%;
    &__form {
        display: flex;
        flex-direction: column;
        gap: 1.25rem;
        width: 100%;
    }

    &__textarea {
        height: 6.25rem;
        border-radius: 0.5rem;
        border: 0.0625rem solid $grey;
        background: $white;
        @include body-large-mobile;
        padding: 0.625rem;
        color: $black;
    }

    &__button {
        @include button-secondary;
    }

    &__error {
        color: $error-red;
        font-size: 0.875rem;
        font-weight: bold;
        margin-top: 0.625rem;
    }

    &__message {
        @include body-large-desktop;
        padding: 0.625rem;
        border-radius: 0.25rem;
        margin: 0.625rem 0;

        &.success {
            @include success;
        }

        &.error {
            @include error;
        }

        &.warning {
            @include warning;
        }
    }
}