@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.text-analyzer {
    width: 100%;
    &__form{
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
    }

    &__textarea {
        height: 100px;
        border-radius: 8px;
        border: 1px solid $grey;
        background: $white;
        @include body-large-mobile;
        padding: 10px;
        color: #888; 
    }
    

    &__button{
        @include button-secondary;
    }

    &__error {
        color: $error-red;
        font-size: 14px;
        font-weight: bold;
        margin-top: 10px;
    }

}
