@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.header {
    display: none;

    @include desktop {
        display: flex;
        position: relative;
        z-index: 1;
        width: 100%;
        height: 4.375rem;
        justify-content: flex-end;
        align-items: center;
        flex-shrink: 0;
        background-color: $white;
        padding-right: 1.25rem;
    }


    &__search {
        @include desktop {
            width: 24.25rem;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    &__search-container {
        @include desktop {
            display: flex;
            align-items: center;
            gap: 1rem;
        }
    }

    &__search-icon {
        @include desktop {
            position: relative;
            left: 2.75rem;
            width: 1.25rem;
            height: 1.25rem;
        }
    }

    &__search-bar {
        @include desktop {
            @include body-medium-desktop;
            width: 18.75rem;
            height: 2.375rem;
            padding: 0.75rem 0.75rem 0.75rem 2.25rem;
            border: 0.0375rem solid $grey;
            border-radius: 1.1875rem;
            background-color: $cloud;
            outline: none;
        }
    }


    &__icons {
        @include desktop {
            display: flex;
            align-items: center;
            gap: 1.25rem;
            padding-left: 1.25rem;
        }
    }

    &__icon {
        @include desktop {
            position: relative;
            top: 0.25rem;
        }

        img {
            @include desktop {
                width: 1.25rem;
                height: 1.25rem;
            }
        }
    }

    &__language {
        @include desktop {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            cursor: pointer;

            img {
                width: 2.0625rem;
                height: 1.25rem;
            }

            span {
                font-size: 0.875rem;
                color: $black;
            }
        }

    }

    &__dropdown-icon {
        @include desktop {
            @include body-medium-desktop;
            color: $black;
        }


        img {
            @include desktop {
                display: flex;
            }
        }
    }

    &__profile {
        @include desktop {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            cursor: pointer;
        }
    }

    &__profile-avatar {
        @include desktop {
            width: 1.875rem;
            height: 1.875rem;
            border-radius: 50%;
        }
    }

    &__profile-details {
        @include desktop {
            display: flex;
            flex-direction: column;
            @include body-medium-desktop;
        }
    }
}