@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

@keyframes gradient {
    0% {
        background-position: 0% 50%;
        filter: hue-rotate(0deg);
    }

    50% {
        background-position: 100% 100%;
        ;
        filter: hue-rotate(12deg);
    }

    100% {
        background-position: 0% 50%;
        filter: hue-rotate(0deg);
    }
}

.homepage {
    @include desktop {
        height: 93vh;
        padding: 1.25rem;
        margin-left: 17%;
    }

    &__hero {

        width: 170vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: $reddit-orange;
        color: $white;
        padding: 1.25rem;
        position: relative;
        justify-content: center;
        box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.2);
        background-image: radial-gradient(rgba(255, 255, 255, 0.08) 10%, transparent 10%);
        background-position: 0 0;
        background-size: 25px 25px;


        @include tablet {
            width: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: $reddit-orange;
            color: $white;
            padding: 1.25rem;
            position: relative;
            justify-content: center;
            box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.2);
        }

        @include desktop {
            width: 96%;
            height: 19.6875rem;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            background-color: $reddit-orange;
            color: $white;
            border-radius: 0.625rem;
            padding: 1.25rem;
            position: relative;
            justify-content: center;
            box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.2);
        }

        h1 {
            @include tablet {
                text-align: center
            }

            @include desktop {
                @include h1-desktop;
                width: 50%;
                text-align: start;
            }
        }

        p {
            @include body-medium-desktop;
            padding-bottom: 1.25rem;
            padding-top: 1.25rem;
        }

        &-button {
            @include button-primary;
        }

        &-image {
            @include tablet {
                padding-top: 0.625rem;
            }

            @include desktop {
                top: 2.625rem;
                position: absolute;
                right: 7.5rem;
            }
        }
    }

    &__cards {
        display: flex;
        flex-direction: column;
        gap: 1.25rem;
        padding-top: 1.25rem;

        @include tablet {
            display: flex;
            flex-direction: row;
            gap: 0.625rem;
            margin: 1.25rem;
            width: auto;
        }

        @include desktop {
            display: flex;
            gap: 1.25rem;
            padding-top: 2.5rem;
            margin: 0;
        }
    }

    &__card {
        color: $white;
        border-radius: 3.125rem;
        padding: 1.25rem;
        position: relative;
        display: flex;
        text-align: center;
        justify-content: space-between;
        box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.2);
        width: 364px;
        height: 40vh;
        align-items: center;
        background-size: 150% 150%;
        animation: gradient 4s linear infinite;

        @include desktop {
            color: $white;
            border-radius: 0.625rem;
            padding: 1.25rem;
            position: relative;
            display: flex;
            text-align: center;
            justify-content: space-between;
            box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.2);
            width: 364px;
            height: 40vh;
            align-items: center;
        }

        h2 {
            @include h2-mobile;
            text-align: center;

            @include desktop {
                @include h2-desktop;
            }
        }

        &-icon {
            @include desktop {
                position: absolute;
                bottom: 0.3125rem;
            }

            img {
                width: 2rem;
                height: 2rem;

                @include desktop {
                    width: 3.125rem;
                    height: 3.125rem;
                }
            }
        }

        &--1 {
            // background-color: $card1-orange;
            background: linear-gradient(45deg,
                    #ff8800,
                    #ff6600,
                    #ff9933,
                    #ff7700,
                    #ff8800);
            width: 170vw;

            @include tablet {
                width: 22.75rem;
                height: 40vh;
            }
        }

        &--2 {
            // background-color: $card2-orange;
            background: linear-gradient(45deg,
                    #ff0000,
                    #ff2200,
                    #ff4444,
                    #ff1111,
                    #ff0000);
            width: 170vw;

            @include tablet {
                width: 22.75rem;
                height: 40vh;
            }
        }

        &--3 {
            background: linear-gradient(45deg,
                    #ff4500, // Reddit orange
                    #ff5000, // Slightly lighter
                    #ff4000, // Slightly darker
                    #ff4800, // Slightly lighter
                    #ff4500);
            // background-color: $card3-orange;
            width: 170vw;

            @include tablet {
                width: 22.75rem;
                height: 40vh;
            }
        }
    }
}